@import url('core.css');
.hero{
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.41), rgb(0, 0, 0) 93%), url("monacoFlag.jpg");
    background-position: 0px 0px, 0px 0px;
    background-size: contain;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.hero-text{
    display: flex;
    flex-direction: column;
}
.hero-sub-text{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.hero-text h1{
    font-size: 80px;
    margin: 0;
    color: white;
    font-style: italic;
}
.hero-text h2{
    font-size:16px;
    color: #dfdfdf;
    font-weight: 400;
}
.hero-sub-text .track{
    padding-right: 10px;
    border-right: solid 1px #c5c5c5;
}
.hero-sub-text .date{
    padding-left: 0;
}
.info-one{
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #c5c5c5;
    background-color: #202020;
    box-sizing: border-box;
    padding: 20px 24px;
    margin: 50px;
    width: 100%;
}
.lap-counter-live{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    gap:100px;
}
.lap-counter-live h1{
    color: white;
    font-weight: 500;
    font-size: 30px;
    padding-left: 10px;
}
.lap-counter-live .live{
    color: red;
    font-size: 20px;
}
.timing-tower{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.timing-row{
    display: grid;
    grid-template-columns:40px 1fr auto;
    color: rgb(255, 255, 255);
    font-size: 22px;
    width: 100%;
    padding: 5px;
    border-bottom: solid 1px #c5c5c5;
}
.live-button{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 0, 0);
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0);
    color: rgb(255, 0, 0);
    width: 50%;
}
.live-button:hover{
    background-color: red;
    color: white;
    border: white;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
}
.info-blocks{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
.standings{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #c5c5c5;
    background-color: #202020;
    box-sizing: border-box;
    padding: 20px 24px;
    margin: 50px;
    width: 100%;
    gap: 30px;
}
.standing-title{
    color: white;
    font-weight: 500;
    font-size: 30px; 
    overflow: hidden;
    white-space: nowrap;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.standing-table{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.standings-row{
    display: grid;
    grid-template-columns:40px 1fr auto;
    color: rgb(255, 255, 255);
    font-size: 22px;
    width: 100%;
    padding: 5px;
    border-bottom: solid 1px #c5c5c5;
}
.calendar-overview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #202020;
    padding-bottom: 20px;
}
.calendar-overview h1{
    color: white;
    text-align: center; 
    padding-bottom: 20px;
}
.calendar-overview ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    gap: 50px;
    margin: 0;
    padding: 0;
}
.calendar-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #c5c5c5;
    background-color: #202020;
    padding: 20px 50px;
    gap: 10px;
}
.calendar-card h1{
    color: white;
    font-size: 20px;
    margin: 0;
}
.calendar-card h2{
    color: #dfdfdf;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.calendar-card .calendar-card-flag{
    height: 100px;
    width: 100px;
}
.calendar-card button{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0);
}
.calendar-card .past-race{
    color: white;
    border-color: white;
}
.calendar-card .live-race{
    color: red;
    border-color: red;
}
.calendar-card .future-race{
    color: #a1a1a1;
    border-color: #a1a1a1;
}
.calendar-carosel{
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    --visible-count: 5;
    --card-gap: 50px;
}
#carosel-track{
    justify-content: flex-start;
}
.carosel-button{
    position: relative;
    z-index: 10;
    flex-shrink: 0;
    margin: 20px;
    height: 75px;
    width: 75px;
    color: white;
}
.carosel-viewport{
    overflow: hidden;
    width: 100%;
}